In [ ]:
import pandas as pd

# This line tells the notebook to show plots inside of the notebook
%matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sb

article_data = pd.read_csv("data/texts.csv")

article_data.head()

In [2]:
article_data.describe()

,totalWordsCount,semanticobjscore,semanticsubjscore,CC,CD,DT,EX,FW,INs,JJ,...,pronouns1st,pronouns2nd,pronouns3rd,compsupadjadv,past,imperative,present3rd,present1st2nd,sentence1st,sentencelast
count,993.000000,993.000000,993.000000,993.000000,993.000000,993.000000,993.000000,993.000000,993.000000,993.000000,...,993.000000,993.000000,993.000000,993.000000,993.000000,993.000000,993.000000,993.000000,993.000000,993.000000
mean,694.370594,38.810675,13.843907,20.538771,66.202417,1.046324,11.369587,74.752266,47.269889,2.132931,...,4.322256,2.688822,19.093656,5.389728,29.918429,4.349446,17.019134,11.805639,0.927492,0.994965
std,522.118710,32.060622,13.545949,22.696782,51.956638,1.655839,12.572746,55.602773,38.370746,2.818153,...,6.605905,4.816057,16.694549,5.752644,25.288903,5.098796,17.739849,12.269056,0.259457,0.070816
min,47.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,270.000000,13.000000,4.000000,7.000000,24.000000,0.000000,3.000000,31.000000,19.000000,0.000000,...,0.000000,0.000000,6.000000,1.000000,11.000000,1.000000,4.000000,3.000000,1.000000,1.000000
50%,624.000000,33.000000,10.000000,14.000000,57.000000,0.000000,8.000000,67.000000,40.000000,1.000000,...,2.000000,1.000000,14.000000,4.000000,24.000000,3.000000,11.000000,8.000000,1.000000,1.000000
75%,950.000000,56.000000,20.000000,26.000000,93.000000,1.000000,15.000000,102.000000,65.000000,3.000000,...,6.000000,3.000000,28.000000,8.000000,44.000000,6.000000,25.000000,18.000000,1.000000,1.000000
max,4283.000000,237.000000,97.000000,225.000000,471.000000,12.000000,96.000000,473.000000,354.000000,26.000000,...,80.000000,44.000000,127.000000,39.000000,220.000000,31.000000,142.000000,97.000000,1.000000,1.000000

In [12]:
# This line tells the notebook to show plots inside of the notebook
#article_data.corr()[Label]

print(article_data.columns)

Index(['TextID', 'URL', 'Label', 'totalWordsCount', 'semanticobjscore',
       'semanticsubjscore', 'CC', 'CD', 'DT', 'EX', 'FW', 'INs', 'JJ', 'JJR',
       'JJS', 'LS', 'MD', 'NN', 'NNP', 'NNPS', 'NNS', 'PDT', 'POS', 'PRP',
       'PRP$', 'RB', 'RBR', 'RBS', 'RP', 'SYM', 'TOs', 'UH', 'VB', 'VBD',
       'VBG', 'VBN', 'VBP', 'VBZ', 'WDT', 'WP', 'WP$', 'WRB', 'baseform',
       'Quotes', 'questionmarks', 'exclamationmarks', 'fullstops', 'commas',
       'semicolon', 'colon', 'ellipsis', 'pronouns1st', 'pronouns2nd',
       'pronouns3rd', 'compsupadjadv', 'past', 'imperative', 'present3rd',
       'present1st2nd', 'sentence1st', 'sentencelast', 'txtcomplexity;;'],
      dtype='object')

In [ ]:
sb.pairplot(article_data, hue='class')